.header{
    padding: 20px;
    border-bottom: 1px solid gray;
    text-align: center;
    }
    header{
        display: block;
    }
    .header-link{
        margin: 10px;
        color: red;
        
    }
    .link:hover{
        color: green;
         transition: color .2s;
        transition-property: color;
        transition-duration: 0.2s;
        transition-timing-function: ease-in-out;
        transition-delay: 0s;
        
    }
    .title{
        color:gray;
        text-align: center;
    }
    
    main{
        margin: auto;
        width: 1200px;
        
    }
    .img-wrapper {
        background-color: rgb(160, 185, 222);
        padding: 20px;
        text-align: center;
    }
.img{
    border-top-left-radius: 21ex;
    
}

.subtitle{
    border-left: 5px solid grey;
    padding-left: 15px;
    color:brown;
    margin-top: 45px;

}

.footer{
    border-top: 1px solid gray;
    text-align: center;
    color: gray;
}

.paragraph{
    text-align: left;
    color:rgb(64, 37, 37);
    padding: 25px;

}

.img2{
    border: 10px solid;
    color:rgb(60, 97, 220);
}

       